/* RESET RULES  */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

/* LAYOUT  */

/* navbar  */
.navbar-brand img {
    height: 60px;
}

/* table  */
.table tr > td {
    padding: 15px;
}
